body {
  background: whitesmoke;
  color: #586e75;
  font-family: 'Gill Sans MT Light', 'Gill Sans MT', 'Segoe', 'Segoe UI', 'Roboto', 'Droid Sans', 'Ubuntu', sans-serif;
  font-size: 10pt;
  line-height: 1.2;
  padding: 1% 3% 3% 3%;
  min-width: 380px;
  max-width: 960px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 22pt;
}

h2 {
  font-size: 16pt;
}

h2 p {
  font-size: 12pt;
  margin-left: 1em;
}

h3 {
  font-size: 14pt;
}

a {
  background: #fdf6e3;
  border-bottom: 1px solid #eee8d5;
  color: #3389c5;
  cursor: pointer;
  padding: 2px 4px 0;
  text-decoration: none;
}

a:hover {
  background: #3389c5;
  border-bottom-color: #065383;
  color: #fff;
}

code {
  background: #fff;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  color: #93a1a1;
  padding: 1px 4px 0;
  white-space: nowrap;
}

table {
  font-size: 11px;
  font-family: "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  border-spacing: 1px;
  border-collapse: separate;
}

td, th {
  background: #fff;
  border: 1px solid #e9e9e9;
  padding: 4px 8px;
  text-align: left;
}

.route-table {
  width: 100%;
}

.arg.builtin {
  background: #d8f8f8;
}

.arg.middleware {
  background: #e8e8f8;
}

.arg.resources {
  background: #d8f8d8;
}

.arg.url {
  background: #d8e8f8;
}
