body {
  background: #FDFDFD;
  margin: 1em 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5em;
}

input {
  height: 1.5em;
  font-family: monospace, sans-serif;
}

label, .date-expiry-l {
  width: 8em;
  float: left;
}

a {
  color: #d62728;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2 {
  color: #1f77b4;
  margin: 0;
  padding: 0.5em 0;
}

h2 {
  font-weight: normal;
  font-size: 1.5em;
  padding: 0.5em;
}

.content {
  width: 40em;
  margin: 2em auto;
}

.box {
  background: white;
  padding: 0;
  border-radius: 5px;
  box-shadow: 1px 2px 1px #ccc;
  border: 1px solid #9E9E9E;
}

.box h2 {
  background: #eee;
  border-bottom: 3px solid #2ca02c;
}

.tagline {
  color: #7f7f7f;
  font-style: italic;
  margin: 0 0 2em 1em;
}

.or {
  font-style: italic;
  margin: 0.5em 0 0 1em;
  color: #7f7f7f;
}

.input-prefix {
  font-family: monospace;
}

.new {
  margin-left: 1em;
  padding: 1em 0;
  width: 100%;

}

.date-expiry {
  float: none !important;
}

#max-count {
  text-align: right;
}

.note {
  color: #7f7f7f;
}

.dead {
  text-decoration:line-through;
}

.target {
  margin: 0;
}

.link div {
  overflow: auto;
  font-size: 0.8em;
  white-space: pre;
  padding: 4px 10px;
  margin: 5px 0;
  background: #d62728;
}
